/* base.css */
@import url('../common/fonts.css');
@import url('../common/colors.css');

body {
    font-family: var(--font-family-sans-serif);
    background-color: var(--gray-dark);
    /* margin: 0; */
    /* padding: 0; */
    /* overflow-x: hidden; */
    /* margin: auto; */
}
/* html { */
/* } */


header {
    background-color: #333;
    color: var(--white);
    padding: 10px;
    text-align: center;
}

.hide {
    display: none;
}

a {
    color: var(--white);
    text-decoration: none;
}

h1 {
    font-size: 3vw;
    color: aqua;
}
h2 {
    font-size: 2vw;
    color: aqua;
}
h3 {
    font-size: 1vw;
    color: aqua;
}

* {
    letter-spacing: 0.15vw;
    word-spacing: 0.1vw;
}