/* contanct_form.css */
@import url('../common/colors.css');
@import url('../common/margins.css');
:root {
    --contact-form-line-height: 2vw;
}
@media screen and (max-width: 600px) {
    :root {
        --contact-form-line-height: 2.5vw;
        }
}

.contact-form {
    text-align: left;
    line-height: var(--contact-form-line-height);
}
.contact-form > :nth-child(1) {
    width: 50%;
}
.contact-form > :nth-child(2) {
    margin-left: var(--margin-2);
}

/* icon style */
.fab, .fas {
    /* margin-left: 1vw; */
    color: var(--green);
}


.contact-form a {
    color: var(--white);
    text-decoration: none;
    font-size: var(--font-size-5);
}    


