
@import url('common/colors.css');
.contact-form {
    text-align: left;
}

/* links style*/
.contact-form a {
    color: var(--white);
    text-decoration: none;
    font-size: large;
}

/* icon style */
.fab, .fas {
    margin-right: 5px;
    color: var(--green);
}