/* contanct_form.css */
@import url('common/colors.css');
@import url('common/margins.css');

.contact-form {
    text-align: left;
    line-height: 2vw;
}
.contact-form > :nth-child(1) {
    width: 50%;
}
.contact-form > :nth-child(2) {
    margin-left: var(--margin-2);
}

/* icon style */
.fab, .fas {
    /* margin-left: 1vw; */
    color: var(--green);
}


.contact-form a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2vw;
}    


