/* top_bar.css */
@import url('common/colors.css');
@import url('common/margins.css');
@import url('common/fonts.css');

.top_bar {
    background-color: var(--gray-dark);
    color: var(--dark-med);
    text-align: left;
    align-items: center;
    width: var(--page-width);
    margin: auto;
}

.top_bar h1{
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--green);
    margin: 0;
    margin-bottom: 1vw;
    font-size: var(--font-size-1);
}

.top_bar h2{
    text-transform: uppercase;
    font-weight: normal;
    color: var(--gray-med);
    font-size: var(--font-size-2);
    margin: 0;
}

.top_bar h3{
    text-transform: uppercase;
    font-weight: normal;
    color: var(--gray-med);
}