/* top_bar.css */
@import url('common/colors.css');
@import url('common/margins.css');

.top_bar {
    background-color: var(--gray-dark);
    color: var(--dark-med);
    text-align: left;
    align-items: center;
    width: var(--page-width);
    margin: auto;
}

.top_bar h1{
    text-transform: uppercase;
    font-weight: bolder;
    /* font-size: 300%; */
    color: var(--green);
    font-size: 2em;
}

.top_bar h2{
    text-transform: uppercase;
    font-weight: normal;
    color: var(--gray-med);
    font-size: 3em;
}