/* colors.css */

:root {
    /* --gray-dark: #343a40; */
    --gray-dark: #212121; /*almost 255/4*/
    --gray-med: #838383; /*almost 255/2*/
    --white: #E0E0E0;
    
    --pink: #DF3F78;
    --green: #4CAF50;
    
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --warning: #ffc107;
    --success: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
}

