/* margins.css */

:root{
    --margin: 5%;
    --margin-2: 10%;
    --margin-3: 15%;

    --page-width: 65%;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}