/* margins.css */

:root{
    --margin: 5vw;
    --margin-2: 10vw;
    --margin-3: 15vw;

    --page-width: 65vw;
}

/* Media query for screens smaller */
/* @media screen and (max-width: 600px) {
    :root {
        --page-width: 100%;
    }
} */