/* margins.css */

:root{
    --margin: 0.5vw;
    --margin-2: 1vw;
    --margin-3: 1.5vw;

    --border-radius: 0.5vw;
    --border-radius-2: 1vw;

    --padding-1: 0.01vw;
    --padding-2: 0.05vw;

}

