/* bar.css */
@import url('../common/colors.css');
/* This is how to use it in the html file
<div class="bar">
    <div></div>
    <div>Contact</div>
    <div></div>
</div>
*/

:root {
    --line-color: var(--green);
    --text-color: var(--white);
    --text-color-left: var(--green);
    --bar-height: 3px;
    --bar-margin: 10vw
}

@media screen and (max-width: 600px) {
    :root {
        --bar-height: 2px;
        --bar-margin: 5vw
        }
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
    margin: var(--bar-margin) auto;
}

.bar > :nth-child(1), .bar > :nth-child(3){ /*the line bar*/
    width: 50%;
    height: var(--bar-height);
    background-color: var(--line-color);
}

.bar > :nth-child(2){ /*the text*/
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: var(--text-color);
    font-size: var(--font-size-3);
    text-transform: uppercase;
    white-space: nowrap;
}


.bar-left {
    margin: -2% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.bar-left > :nth-child(1){ /*the line bar*/
    width: 100%;
    height: var(--bar-height);
    background-color: var(--line-color);
}

.bar-left > :nth-child(2){ /*the text*/
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: var(--text-color-green);
    text-transform: uppercase;
    text-wrap: nowrap;
    font-size: var(--font-size-3);
}
