/* button.css */
@import url('common/colors.css');

.button {
    color: var(--white);
    border: 1px solid var(--yellow-2);
    border-radius: var(--border-radius);
    margin: 1vw 1vw;
    font-size: var(--font-size-3);
}

.button:hover {
    color: var(--gray-dark);
    background-color: var(--green-3);
}
