/* splitter.css

Split your div into 2 columns, left and right
<div class="splitter">
    <div> <!-- left -->
        <h2>Electronic Engineer</h2>
        <h2>Machine Learning | Control Systems</h2>
    </div>
    <div> <!-- right -->
        <h2>Trainee</h2>
    </div>
</div>
*/
@import url('common/colors.css');
.splitter {
    display: flex;
    align-items: center;
    /* justify-items: center; */
}

.splitter > div:nth-child(1) {
    margin: auto;
    /* text-align: left; */
    /* background-color: yellow; */
    margin-right: var(--margin);

    max-width: 50%;
    min-width: 50%;
    /* flex-grow: 1; */
}

.splitter > div:nth-child(2) {
    /* text-align: right; */
    max-width: 50%;
    min-width: 50%;
    /* background-color: brown; */
    /* flex-grow: 1; */
    /* flex-grow: 1; */
}

.splitter-left {
    display: flex;
    align-items: center;
    /* justify-items: center; */
}
.splitter-left > div:nth-child(1) {
    margin: auto;
    text-align: left;
    /* width: 50%; */
    /* background-color: yellow; */
    /* flex-grow: 1; */
}
.splitter-left > div:nth-child(2) {
    text-align: left;
    flex-grow: 1;
    /* background-color: brown; */
}


.splitter span {
    color: var(--red-3)
}